.cart {
    margin-top: 10rem;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.empty button {
    margin-top: 3.2rem;
    border: none;
    color: #fff;
    background-color: tomato;
    width: max(12vw, 12rem);
    padding: 1.2rem 0;
    border-radius: 4px;
    cursor: pointer;
}

.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw, 1.4rem);
}

.cart-items-item {
    margin: 1rem 0;
    color: #000;
}

.cart-items-item img {
    width: 10rem;
}

.cart hr {
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.cart-items-item ion-icon {
    font-size: 2.6rem;
}

.cart-items-item .cross {
    cursor: pointer;
}

.cart-bottom {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 2rem);
}

.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cart-total p {
    font-size: 1.8rem;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart-total-details-italic {
    font-size: 1.6rem;
}

.cart-total hr {
    margin: 1rem 0;
}

.cart-total button {
    border: none;
    color: #fff;
    background-color: tomato;
    width: max(15vw, 20rem);
    padding: 1.2rem 0;
    border-radius: 4px;
    cursor: pointer;
}

.cart-total button:hover {
    background-color: rgb(255, 60, 30);

}

.cart-promocode {
    flex: 1;
}

.cart-promocode p {
    font-size: 1.8rem;
    color: #555;
}

.cart-promocode-input {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}

.cart-promocode-input input {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 1rem;
}

.cart-promocode-input button {
    width: max(10vw, 15rem);
    padding: 1.2rem 0.5rem;
    background-color: #000;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.cart-promocode-input button:hover {
    color: #fff;
    background-color: #464646;
}

@media (max-width: 37em) {
    .cart-bottom {
        flex-direction: column-reverse;
    }

    .cart-promocode {
        justify-content: start;
    }
}

@media (max-width: 25em) {
    .cart-items-title {
        gap: 1rem;
    }

    .cart-items-item:not(:last-child) {
        gap: 1rem;
    }

    .cart-items-item img {
        width: 6rem;
    }

    .cart-promocode p,
    .cart-promocode-input input,
    .cart-promocode-input button {
        font-size: 2rem;
    }

    .cart-total,
    .cart-total p {
        font-size: 2.2rem;
    }

    .cart-promocode-input button {
        width: max(10vw, 12rem);
    }

    .cart-total-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cart-total button {
        margin-top: 1rem;
        width: 80%;
        font-size: 1.8rem;
    }

}

@media (max-width: 19em) {
    .cart-items-title {
        gap: 1rem;
        font-size: max(1vw, 1.2rem);
    }

    .cart-items-item img {
        width: 6rem;
    }

    .cart-total button {
        width: 100%;
    }

    .cart-promocode-input button {
        padding: 0.8rem;
    }

    .cart-promocode p,
    .cart-promocode-input input,
    .cart-promocode-input button {
        font-size: 1.4rem;
    }

}