.login-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 33rem);
    color: #808080;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2.5rem 3rem;
    border-radius: 8px;
    font-size: 1.4rem;
    animation: fadeIn 0.5s;
}

.form-spinner-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.login-popup img {
    width: 1.8rem;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login-popup-inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 1rem;
    border-radius: 4px;
}

.login-popup-container button {
    border: none;
    padding: 1rem;
    border-radius: 4px;
    color: #fff;
    background-color: tomato;
    font-size: 1.5rem;
    cursor: pointer;
}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 0.8rem;
    margin-top: -1rem;
}

.login-popup-condition input {
    margin-top: 0.5rem;
}

.login-popup p span {
    color: tomato;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
}

.login-popup p span:hover {
    color: rgb(255, 60, 30);
}

.login-popup-container button:hover {
    background-color: rgb(255, 60, 30);
}