.app-download {
    margin: auto auto;
    margin-top: 10rem;
    font-size: max(2.4vw, 2rem);
    text-align: center;
    font-weight: 500;
}

.app-download-platforms {
    display: flex;
    justify-content: center;
    gap: max(2vw, 1rem);
    margin-top: 3rem;
}

.app-download-platforms img {
    width: max(30vw, 12rem);
    max-width: 17rem;
    transition: all 0.5s;
    cursor: pointer;
}

.app-download-platforms img:hover {
    transform: scale(1.05);
}