.sidebar {
    border-right: 1.5px solid #a9a9a9;
}

.sidebar-options {
    list-style: none;
    padding-top: 5rem;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.sidebar-option a {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 1.8rem;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 0.8rem 1rem;
    border-radius: 3px 0px 0px 3px;
}

.sidebar-option a.active {
    background-color: #fff0ed;
    border-color: rgb(255, 99, 71);
}

.sidebar-option:hover {
    background-color: #fff0ed;
    cursor: pointer;
}

.sidebar-option ion-icon {
    font-size: 3rem;
}